@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;1,300;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
}

h4 {
  font-family: "Lato", sans-serif;
  font-size: 13px;
  font-weight: bold;
}

h6 {
  font-family: "Lato", sans-serif;
  font-size: 13px;
}

.gap-2 {
  gap: 20px;
}

.card {
  border: none;
  background-color: #f8f9fa;
}

.d-grid {
  display: grid;
}

.gtr-2 {
  grid-template-rows: repeat(2, 1fr);
}

.overflow-set {
  overflow-y: hidden;
  overflow-x: overlay;
}

.oX-overlay {
  overflow-x: overlay;
}

.oY-hidden {
  overflow-y: hidden;
}

.sb-none::-webkit-scrollbar {
  display: none;
}

.sb-none {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.play {
  position: absolute;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgba(0, 0, 0, 0.755);
}

.play svg {
  fill: white;
  position: absolute;
  top: 48%;
  left: 53%;
  transform: translate(-50%, -50%);
  width: 25px;
  height: 25px;
}

/* ------------------------------------------------------- */

.header {
  width: 100vw;
  padding: 11px 22px;
  background-color: #f1f1f1;
}

.all-songs {
    margin-top: 6.2rem;
    padding-top: 0.1rem;
}

.header-logo {
  padding: 7px;
}

.logo {
  font-family: Pacifico;
  font-size: 1rem;
  left: 20%;
  transform: translateX(10%);
}

.btn {
  font-size: 14px;
}

.searchbar {
  height: 40px;
}

label {
  margin-bottom: -0.1em;
}

h2 {
  font-family: "Lato", sans-serif;
  font-size: 22px;
  font-weight: 700;

}

.song-cards {
  grid-template-columns: repeat(12, 1fr);
  gap: 15px;
}

.song-card {
  height: 200px;
  width: 147px;
}

.song-card img {
  height: 147px;
}

.weekly-songs-group {
  grid-template-columns: 1fr 5fr;
  overflow-y: hidden;
  gap: 15px;
  padding: 5px 10px;
}

.weekly-top-songs {
  height: 300px;
  width: 154px;
  display: inline-block;
}

.weekly-top-songs img {
  width: 100%;
}

.weekly-songs-lists img {
  width: 100%;
  height: 100%;
}

.weekly-top-songs label {
  font: 18px;
}

.weekly-song-lists {
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 20px;
  width: 150px;
  height: 150px;
}

.song {
  width: 150px;
  height: 130px;
}

.song img {
  width: 100%;
  height: auto;
}

.latest-picks-songs {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  overflow-x: overlay;
  gap: 20px;
}

.e-song {
  width: 90px;
  height: 138px;
}

.e-song img {
  width: 90px;
}



.footer {
  justify-content: space-around;
  height: 8%;
  width: 100vw;
  bottom: 0;
  background-color: #f1f1f1;
}

.footer-btn {
  text-align: center;
}

.footer-btn svg {
  width: 21px;
  height: 21px;
}

.footer-btn p {
  margin-bottom: 0;
  font-size: 12px;
}



.rar-cards {
  grid-template-columns: repeat(8, 1fr);
  gap: 20px;
}

.rar-card {
  width: 90px;
  height: 143px;
}

.rar-img {
  height: 90px;
  position: relative;
}

.rar-img img {
  width: 100%;
  height: 100%;
}


.radio-cards {
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.radio-card {
  width: 147px;
  height: 195px;
}

.play-song {
  width: 100%;
  height: 147px;
  position: relative;
}

.play-song img {
  height: 147px;
  width: 147px;
}


position: fixed;
top: 0;
width: 100vw;
